@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5 {
        @apply font-heading m-0 font-bold text-white !important
    }

    h1 {
        @apply text-[2rem] leading-[2.375rem] lg:text-[2.625rem] lg:leading-[4rem] !important
    }
    
    h2 {
        @apply text-xl leading-6 lg:text-[2rem] lg:leading-[3rem] !important
    }
    
    h3 {
        @apply text-[1.2rem] leading-5 lg:text-3xl lg:leading-9 mb-6 !important
    }
    
    h4 {
        @apply text-[1.075rem] leading-[1.125rem] lg:text-xl lg:leading-6 !important
    }

    p, li, a, button {
        @apply font-body m-0 text-base font-light leading-4 lg:leading-6 text-white !important
    }
}

@layer utilities {
    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }

    .scroll::-webkit-scrollbar-track {
        border-radius: 0.5rem;
    }
    
    .scroll::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        background-color: var(--scrollbar-color);
    }

    .scroll {
        -ms-overflow-style: scrollbar;
        scrollbar-width: 0.5rem;
    }
}

:root {
    --orange: #FFE7B3;
    --orange-hover: #FFD271;
    --text-color: rgb(245,245,245);
    --background: rgb(18,18,18);
    --background2: rgb(30,30,30);
    --footer-color: #DDDDDD;
    --date-color: #696969;
    --scrollbar-color: #7B7B7B;
    --heading-font: 'Quicksand', sans-serif;
    --body-font: 'Work Sans', sans-serif;
    --shadow: 0px 0px 8px 0px rgba(0,0,0,1);
    --shadow-hover: 0px 0px 20px 0px rgba(0,0,0,1);
    --light-shadow: 0px 0px 8px 0px rgba(0,0,0,0.37);
    --light-shadow-hover: 0px 0px 20px 0px rgba(0,0,0,0.37);
    --section-row-spacing: 4rem;
    --section-spacing: 6rem;
    --title-detail-spacing: 1rem;
    --button-hover-speed: 250ms;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    background-color: rgb(23, 23, 23);
}

body::-webkit-scrollbar {
    width: 0;
}
