:root {
    --orange: #FFE7B3;
    --orange-hover: #FFD271;
    --white: rgb(245,245,245);
    --footer-color: #DDDDDD;
    --date-color: #9B9A9A;
    --scrollbar-color: #7B7B7B;
    --heading-font: 'Quicksand', sans-serif;
    --body-font: 'Source Sans Pro', sans-serif;
    --shadow: 0px 0px 8px 0px rgba(0,0,0,0.37);
    --section-row-spacing: 4rem;
    --section-spacing: 15rem;
    --title-detail-spacing: 1rem;
    --experiences-description-spacing: 0.5rem;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--white);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin:0;
}

html {
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    margin: 0;
    text-rendering: optimizeLegibility;
}

p, li, a, button {
    font-family: var(--body-font);
    margin: 0;
    font-size: 1.1rem;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.625rem;
    line-height: 4rem;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.body {
    display: flex;
}

section {
    display: block;
    padding-top: var(--section-spacing);
}

.button {
    background-color: var(--orange);
    transition: background-color 300ms linear;
    border-radius: 0.5rem;
    padding: 0.3rem 1.25rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 20px;
    font-size: 1rem;
}

.show-button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 1.25rem;
    background-color: var(--orange);
    transition: background-color 300ms linear;
}

.show-button:hover {
    cursor: pointer;
    background-color: var(--orange-hover);
    transition: background-color 300ms linear;
}

.showmore-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-align {
    height: 100px;
    width: 1000px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    height: 100px;
}

.header-content img {
    aspect-ratio: 100%;
    height: 60px;
}

.header-content-nav-link {
    display: inline-block;
    font-family: var(--heading-font);
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    color: inherit;
}

.header-content-nav-link:hover {
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    overflow: hidden;
    height: 800px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-align {
    width: 1000px;
    display: grid;

}

.intro-content {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-grow: 100;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.intro-desc {
    display: flex;
    flex-direction: column;
}

.intro-desc-greeting {
    margin-bottom: 10px;
}

.intro-desc-me {
    margin-bottom: 20px;
}

.intro-desc-me-name {
    display: flex;
}

.intro-desc-text {
    margin-bottom: 40px;
}

.intro-desc-buttons a:hover {
    background-color: var(--orange-hover);
    transition: background-color 300ms linear;
}

.intro-pic img {
    aspect-ratio: auto;
    height: 300px;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
}

.aboutme {
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-align {
    width: 1000px;
    display: grid;

}

.aboutme-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "education interests"
        "career skills"
        "truffle truffle";
    column-gap: 2rem;
    row-gap: var(--section-row-spacing);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.aboutme-content h4 {
    margin-bottom: 1rem;
}

.aboutme-content-title {
    grid-area: title;
}

.aboutme-content-education {
    grid-area: education;
}

.aboutme-content-interests {
    grid-area: interests;
}

.aboutme-content-interests-container, .aboutme-content-skills-container {
    display: flex;
    flex-wrap: wrap;
}

.aboutme-content-interests-container-item, .aboutme-content-skills-container-item {
    border: 0.125rem solid black;
    border-radius: 0.5rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.25rem;
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
}

.aboutme-content-interests-container-item img, .aboutme-content-skills-container-item img {
    aspect-ratio: attr(width) / attr(height);
    height: 1.2rem;
    padding-left: 0.5rem;
}

.aboutme-content-career {
    grid-area: career;
}

.aboutme-content-skills {
    grid-area: skills;
}

.aboutme-content-truffle {
    grid-area: truffle;
}

.aboutme-content-truffle-pics {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.aboutme-content-truffle-pics::-webkit-scrollbar {
    height: 0.5rem;
}

.aboutme-content-truffle-pics::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}

.aboutme-content-truffle-pics::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--scrollbar-color);
}

.aboutme-content-truffle img {
    aspect-ratio: 1/1;
    height: 12rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.experiences {
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experiences-align {
    width: 1000px;
    display: grid;

}

.experiences-content {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 100;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.experiences-content-item {
    display: grid;
    grid-area: "img text";
    grid-template-columns: 1fr 2fr;
    margin-bottom: var(--section-row-spacing);
}

.experiences-content-item-text {
    grid-area: "text";
}

.experiences-content-item-text-title, .experiences-content-item-text-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiences-content-item img {
    grid-area: "img";
    aspect-ratio: attr(width) / attr(height);
    width: 15rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-align {
    width: 1000px;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.contact-content-container {
    width: 600px;
}

.contact-content-container img {
    aspect-ratio: 100%;
    height: 10rem;
    border-radius: 50%;
    margin-right: 3rem;
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
}

.contact-content-container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-row-spacing);
}

.contact-content-container-card-text {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 10rem;
}

.contact-content-container-card-text-email {
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    color: black;
}

.contact-content-container-card-text-email:hover {
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
}

.contact-content-container-card-text-buttons a:hover {
    background-color: var(--orange-hover);
    transition: background-color 300ms linear;
}
